body{
  font-size: larger;
  background-image: url('https://i.imgur.com/SuJFpRj.png');
  background-size: cover;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
  background-color: #e7e7e7;
  border: none;
  color: #555555;
  padding: 10px 27px;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  border-radius: 5px;
}


button:hover {
  background-color: #373ab6;
  color: white;
}

#googleIcon {
  position: relative;
  border: solid 2px #d3d3d3;
  transition-duration: 0.2s;
  border-radius: 5px;
  left: 1rem;
  margin-top: 1rem;
}
#googleIcon:hover {
  border-color: #555555;
}



input {
  width: 17%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  outline: none;
  border-radius: 10px;
}

input:focus {
  border: 2px solid #555555;
}

#form{
  position: relative;
  left: -3rem;
  margin-bottom: 1rem;
}

#passForm{
  position: relative;
  margin-bottom: 1rem;
}

#loginButton{
  margin-top: 2rem;
  margin-bottom: 1rem;
}

#homeContainer{
  position: relative;
  left: -1rem;
  margin-top: 2rem;
}

#login{
  position: relative;
  left: 3rem;
}

#signIn{
  position: relative;
  left: 3rem;
}

#dashportIcon{
  position: relative;
  left: 1rem;
  height: 10rem;
  width: 10rem;
}